.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.button {
  background-color: #ffffff;
  border: 1px solid rgb(170, 167, 167);
  color: black;
  border-radius: 5px;
  cursor: pointer;
  text-transform:capitalize;
}

.button:hover {
  background-color: rgb(60, 88, 213);
  color: #ffffff;
}
